body{
    height: 100%;
    width: 100%;
    margin: 0 auto; /* 8px margin is standard for the body - margem de 8px é padrão para o body */
}

ul{
    padding: 0px!important;
}

.menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
}

main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
    float: left;
    padding: 16px;
    width: 70%;
    cursor: pointer;
}

.logo img:hover{
    margin-top: 1px;
}

.social-media ul li{
    margin-left: 27px;
    float: left;
    list-style: none;
}

.social-media {
    width: 25%;
    float: right;
}

.social-media img{
    cursor: pointer;
}

.social-media img:hover{
    padding-top: 1px;
}

.header-2{
    background-color: white;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}

.menu-urls{
    height: 80px;
    border-bottom: 3px solid #efefef;
}

.menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 50px;
}

.menu ul li:hover{
    border-bottom: 3px solid #00bac6;
}

.menu ul li a:hover{
    color: #00bac6;
}

.menu ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu{
    width: 56%;
    float: left;
}

.search {
    text-align: center;
    width: 38.7%;
    float: right;
    margin-top: -1px;
    margin-right: 110px;
}

.search input{
    background-image: url('../images/icone-search.png');
    background-repeat: no-repeat;
    height: 36px;
    padding: 12px;
    width: 190px;
    margin-top: -9px;
    background-position: 96%;
    border: 1px solid #d6d6d6;
}

.column-100{
    width: 100%;
    float: left;
    position:relative;
}

.slider-principal{
	height: 455px;
}

/* Preview button style sheet */
button.slick-prev{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../images/seta-anterior.png');
    top: 42%;
    left: 16%;
}

/* Next button style sheet */
button.slick-next{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../images/seta-proximo.png');
    top: 42%;
    right: 14%;
}

.slick-list{
    width: 100%!important;
}

.slick-inicialized{
    overflow: hidden;
}

/* Slick-dots buttons style sheet */
.slick-dots li button{
    /* reseting the buttons */
    font-size: 0px;
    border: 5px solid white;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 3px;
}

.slick-dots{
    margin: 0 auto;
    width: 50%;
    /* Absolute faz com que ele não siga nenhum padrão de nenhuma div pai */
    position: absolute;
    left: 46%;
    bottom: 5%;
}

li.slick-active button{
    background-color: #00bac6;
}

.slick-dots li{
    /* Leave all the li side by side */
    display: inline-block; 
    padding-left: 10px;
}

.featured-text{
    text-align: center;
}
.featured-text strong{
    color: black;
}
.featured-text h2{
    font-size: 30px;
    text-transform: uppercase;
    color: #534f4f;
}
.featured-text p{
    font-size: 20px;
    color: #271f1f;
    text-align: center;
}

.col-3{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    width: 29%;
    float: left;
    position: relative;
}

.image-block img {
    margin: 0 auto;
    width: 100%;
    height: auto; 
}

.image-block{
    height: 300px;
    border: 1px solid #c5c5c5;
    padding-top: 15px;
    padding-bottom: 15px;
    /* margin: 5px; a value for all the positions */
    /* margin: 0px 5px 0px 5px; top, left, bottom, right */
    /* margin: 10px 5px 0px; top, left, bottom */
    margin: 0px 5px; /*top e bottom, left e right*/
}

.image-block b, p{
    text-align: left;
}

.text-block{
    margin-top: 3em;
}

h3{
    font-weight: normal!important;
}

.image-text-block {
    background-color: #eeeeee;
}

.image-text-block:before{
    width: 100%;
    display: inline-block;
    content: '';
    height: 52px;
    background: white;
    background-image: url('../images/setinha.png');
    background-repeat: no-repeat;
    background-position: center;
}

.image-text-block:after{
    width: 100%;
    display: inline-block;
    content: '';
    height: 70px;
    background: #eeeeee;
}

.col-4{
    float: left;
    width: 25%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.col-4 img{
    cursor: pointer; /*Transforma a imagem em um link, fica com o efeito de mãozinha quando passa o mouse em cima*/
    margin: 0 auto;
    padding-top: 1em;
    vertical-align: middle;
    display: inline;
    align-content: center;
}

.col-4 img:hover{
    margin-top: 1px!important;
    position: relative;
}

.footer h3{
    text-align: left;
}

.footer{
    background-image: url('../images/footer.png');
    color: white;
}

.footer p{
    width: 75%;
    text-align: inline-block;
}

.footer-2{
    background-image: url('../images/footer2.png');
    color: #c1c1c1;
    height: 90px;
    padding-top: 45px;
}

.footer-2 ul{
    padding: 0px!important;
}

.footer-2 li{
    float: right;
    list-style: none;
    margin-right: 60px;
    display: block;
}

.footer-2 p{
    float: left;
}

.footer-2 ul li img{
    cursor: pointer;
    margin-left: -35px;
}

.footer-2 ul li img:hover{
    padding-top: 1px;
}

.clock{
    color: #898989;
}

.clock:before{
    content: '';
    width: 15px;
    height: 15px;
    display: inline; /*Always put a display and it works*/
    background-image: url('../images/clock.png');
    float: left;
    background-repeat: no-repeat;
    padding-left: 5px;
}

/* Linha divisória de parágrafos */
.hr1{
    border: 0;
    border-top: 0.5px solid #CCC;
    margin-inline-end: 60px;
}

.local:before, .emailico:before, .telefoneico:before{
    content: '';
    width: 17px;
    height: 20px;
    display: inline; /*Always put a display and it works*/
    background-image: url('../images/email.png');
    float: left;
    background-repeat: no-repeat;
    padding-left: 5px;
}

.local:before{
    background-image: url('../images/local.png');
}

.emailico:before{
    background-image: url('../images/emailico.png');
}

.telefoneico:before{
    background-image: url('../images/telefoneico.png');
}

/* RESPONSIVIDADE DO SITE */

/* Tablets */
@media only screen and (max-device-width: 768px){
    .menu-principal {
        width: 100%;
        background-color: #252323;
        height: 60px;
    }

    .menu{
        display: inline;
        width: 100%;
        float: left;
    }

    .logo {
        float: left;
        width: 50%;
        cursor: pointer;
        margin-left: 20px;
    }

    .social-media{
        float: left;
        width: 35%;
        cursor: pointer;
    }

    .column-100

    .menu{
        width: 70%;
    }

    .menu-urls{
        height: 70px;
    }

    .menu ul{
        float: left;
    }

    .menu ul li{
        color: #8b8b8b;
        margin-left: 20px;
        display: inline-block;
    }

    .menu ul li a{
        color: #8b8b8b;
        text-decoration: none;
        font-size: 15px;
        text-transform: uppercase;
    }

    .header-2{
        background-color: white;
        width: 100%;
        margin: 0 auto;
        padding: 16px;
    }

    .search {
        text-align: center;
        width: 15%;
        float: right;
        display: inline-flex;
        margin-top: 12px;
    }

    .slider-principal{
        width: 100%;
        height: auto;
    }

    /* Preview button style sheet */
    button.slick-prev{
        font-size: 0px;
        border: none;
        width: 25px;
        height: 51px;
        z-index: 9;
        background-color: transparent;
        position: absolute;
        background-image: url('../images/seta-anterior.png');
        top: 19%;
        left: 17%;
    }

    /* Next button style sheet */
    button.slick-next{
        font-size: 0px;
        border: none;
        width: 25px;
        height: 51px;
        z-index: 9;
        background-color: transparent;
        position: absolute;
        background-image: url('../images/seta-proximo.png');
        top: 19%;
        right: 14%;
    }

    .slick-dots{
        margin: 0 auto;
        width: 50%;
        /* Absolute faz com que ele não siga nenhum padrão de nenhuma div pai */
        position: absolute;
        left: 41%;
        bottom: 5%;
    }

    .featured-text{
        width: 100%;
    }

    .column-100.image-text-block{
        width: 100%;
    }
}