body{
    height: 100%;
    width: 100%;
    margin: 0 auto; /* 8px margin is standard for the body - margem de 8px é padrão para o body */
}

ul{
    padding: 0px!important;
}
.menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
}

main, .content {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
    float: left;
    padding: 16px;
    width: 70%;
}

.social-media ul li{
    margin-left: 27px;
    float: left;
    list-style: none;
}

.social-media {
    width: 25%;
    float: right;
}

.header-2{
    background-color: white;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}

.menu-urls{
    height: 80px;
    border-bottom: 3px solid #efefef;
}

.menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 50px;
}

.menu ul li:hover{
    border-bottom: 3px solid #00bac6;
}

.menu ul li a:hover{
    color: #00bac6;
}

.menu ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu{
    width: 56%;
    float: left;
}

.search {
    text-align: center;
    width: 38.7%;
    float: right;
    margin-top: -1px;
    margin-right: 110px;
}

.search input{
    background-image: url(../images/icone-search.png);
    background-repeat: no-repeat;
    height: 36px;
    padding: 12px;
    width: 190px;
    margin-top: -9px;
    background-position: 96%;
    border: 1px solid #d6d6d6;
}

.column-100{
    width: 100%;
    float: left;
    position:relative;
}

.slider-principal{
	height: 455px;
}

/* Preview button style sheet */
button.slick-prev{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../images/seta-anterior.png');
    top: 38%;
    left: 14%;
}

/* Next button style sheet */
button.slick-next{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../images/seta-proximo.png');
    top: 38%;
    right: 14%;
}