body{
    height: 100%;
    width: 100%;
    margin: 0 auto; /* 8px margin is standard for the body - margem de 8px é padrão para o body */
}

ul{
    padding: 0px!important;
}
.menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
}

main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
    float: left;
    padding: 16px;
    width: 70%;
}

.social-media ul li{
    margin-left: 15px;
    float: left;
    list-style: none;
}

.social-media {
    width: 25%;
    float: right;
}

.header-2{
    background-color: white;
    width: 980px;
    margin: 0 auto;
    border-bottom: 3px solid #efefef;
}

.menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
}

.menu ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

.menu{
    width: 70%;
    float: left;
}

.search{
    width: 30%;
    float: right;
}

.column-100{
    width: 100%;
    float: left;
    position: relative;
}