body{
    height: 100%;
    width: 100%;
}

.menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
}

main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo {
    float: left;
    padding: 16px;
    width: 70%;
}

.social-media ul li{
    float: left;
    list-style: none;
}

.social-media {
    width: 20%;
    float: right;
}